
/* ************* Tag Styling****************** */
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;

}

a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

/* ************* Class Styling****************** */
.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
  }

.title-text {
  font-weight: normal;
}
